body{
	position: relative;
	min-height: 100vh;
}

#logo{
	width:9.25em;
	height: 7.5em;
}

.cabecera{
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
	background: #000000;
	opacity:0.6;
}

.contenido{
	  padding-bottom: 2.5rem;
}
