<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>WeatherController</display-name>
    <servlet-name>WeatherController</servlet-name>
    <servlet-class>aiss.controller.openweather.WeatherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherController</servlet-name>
    <url-pattern>/WeatherController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>HolidaysController</display-name>
    <servlet-name>HolidaysController</servlet-name>
    <servlet-class>aiss.controller.calendarific.HolidaysController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidaysController</servlet-name>
    <url-pattern>/HolidaysController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PlaylistController</display-name>
    <servlet-name>PlaylistController</servlet-name>
    <servlet-class>aiss.controller.deezer.PlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistController</servlet-name>
    <url-pattern>/PlaylistController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>